@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);


/******************************
        generic heading
******************************/
.content-title{
 font-size:30px;
 text-align: center;
padding-bottom: 50px: 
background-color: #3d3d3d;
font-weight: 500;

}

.content-title-Underline{
   margin: 0px auto 30px auto;
   width: 30px;
   height: 10px;
   background-color: #18dcff;
   margin-bottom: 50px; 
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
}

h2 {
  font-size: 36px
}

/******************************
            parallax
******************************/

.bg-parallax{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    background-attachment: fixed;		
}

/****************************************
             HOME
*****************************************/
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}


/****************************************
             rural - urban services
*****************************************/
#Rural-Services,
#Urban-Services,
#For-Profit,
#For-Non-Profit{
	display: none;
}


/************************************
      CUSTOM CSS FOR IMAGE GALERY SECTION
************************************/
.previous{
	width: 100%;
	height: 100%;
}
.previous [class *=col-] {
	padding-left: 10px;
	padding-right: 10px;

}
.imgGallery{
	overflow: hidden;
}
.imgGallery img{
	width: 100%;
	height: 100%;
	border-radius: 50px;
    transition: transform.5s ease;
	cursor: zoom-in;
	
}
.imgGallery img:hover{
	transform: scale(1.2);
	border-radius: 80px;
    transition: transform.5s ease;
}


/************************************
      OUR TEAM
************************************/
.about-content-box {
	float: left;
	height: 600px;
}
.about-content-box-outer{
	width: 100%;
	height: 100%;
	display: table;
}
.about-content-box-inner{
	display: table-cell;
	vertical-align: middle;
}


#about-bg-diagnol_1{
	width: 50%;
	height: 600px;
	float: right;
    background-image: url("../images/team/prince.jpg");
    border-left: 300px solid  #d2dce5;
	border-top: 600px solid transparent;
}
#about-bg-diagnol_2{
	width: 50%;
	height: 600px;
	float: right;
    background-image: url("../images/team/shubham.jpg");
    border-left: 300px solid  #d2dce5;
	border-top: 600px solid transparent;
}

/*navigation bar*/

.wrapper{
	overflow: hidden;
}
.navbar-right {
  background-color: #12181e;
  padding:0 95px 0 0;
  opacity: .9;
  }

.navbar-right li a {
  padding: 35px 21px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
  transition: transform.5s ease;


}

.navbar-right li a:hover,
.navbar-right li a:focus,
.navbar-right .active a {
  background-color: white;
  color: black;
  font-weight: 500;
  transform: scale(1.3);
}


.fixed-menu {
  background-color: black;
  position: fixed;
  top: 0;
}

.fixed-menu .navbar-right {
  padding: 0;
}


.fixed-menu .navbar-right li a {
  font-size: 18px;
  padding: 20px 25px;
  text-shadow:inherit;
}

